section>* {
    margin-left: 0;
}



@media(min-width: 768px) {
    .container-flexbox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 56px;
        column-gap: 42px;
    }
}

@media(max-width: 767px) {
    .container-flexbox {
        display: block;
    }

    .container-flexbox>* {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.bono,
.edge,
.adam,
.larry {
    padding: 20px;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bono img,
.edge img,
.adam img,
.larry img {
    margin-bottom: 22px;
    margin-left: -20px;
    margin-right: +20px;
    margin-top: -20px;
    width: calc(100% + 40px)
}

/* Headings */
.bono h3,
.edge h3,
.adam h3,
.larry h3 {
    font-size: var(--font-size-md);
    line-height: 1.2;
    margin-bottom: 2px;
}

/* Paragraphs of text */
.bono p,
.edge p,
.adam p,
.larry p {
    font-size: var(--font-size-base);
    line-height: 1.7;
    flex-grow: 1;
}

/* colors */

.bono {
    background-color: #4081ec
}

.edge {
    background-color: #ffbb33
}

.adam {
    background-color: #f73345
}

.larry {
    background-color: #e0e0e0
}

.bono h3,
.bono p,
.adam h3,
.adam p {
    color: #fff
}

.edge h3,
.edge p {
    color: #000
}

.larry h3,
.larry p {
    color: #000
}

button {
    margin-top: 32px;
    padding: 8px 16px;
    background-color: blue;
    color: white;
}