.section-selector-1 {
    background-color: var(--black-000);;
    color: var(--white-000);;
}

.selection-selector-1 h2,
.selection-selector-1 p {
    color: var(--white-000);;
}

.section-selector-1 h2 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0;
}

.selection-selector-1 h2 span {
    letter-spacing: 0;
}

.section-selector-1 p {
    font-size: var(--font-size-md);;
    font-family: 'Nunito', sans-serif;
}

.selection-selector-1 h4 span {
    background-color: var(--white-000);;
    color: var(--black-000);;
}

.selection-selector-2 {
    background-image: linear-gradient(90deg, #fff, var(--sky-300));;
}

.selection-selector-2 h2 span {
    color: var(--red-600);;
}

.selection-selector-3 {
    background-color: var(--yellow-300);;
}

.selection-selector-3 h2 {
    font-size: var(--font-size-xxl);
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.selection-selector-3 h2 span {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}